body{
	margin: 0;
	padding: 0;
}
#back{
	background: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	height: 450px;

}
#road{
	background: url(road.jpg);
}
#img{
	width: 300px;
}
#btn{
	background-color: yellow;
	width: 100px;
	font-size: 28px;
	margin-top: 40px;
}
#dbtn{
	display: flex;
	justify-content: center;
	align-items: none;
}